@{
    ViewData["Title"] = "Home";
}

<body>
    <header> <partial name="LoggedOutNav" /> </header>
    <img src="https://cdn.discordapp.com/attachments/363603833680560139/817572392310276157/goal-without-a-plan.jpeg" alt="">
    <h2> Turn Your Goals Into Reality... Let's Help You Make a Plan! </h2>
</body>