@{
    ViewData["Title"] = "Terms and Conditions";
}

<h3 class="bg-dark text-white m-2 p-2"> @ViewData["Title"] </h3>
<fieldset class="shadow centered">
    <h3>1. Compliance of Terms</h3>
    <p >By accessing this site, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. Various materials contained in this website are protected by applicable copyright and trademark law.</p>
    <hr />
    <h3>2. Use License</h3>
    <ul>
     	<li>Permission is granted to access the materials (information or software) on this website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</li>
        <ul>
         	<li>modify or copy the materials;</li>
         	<li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
         	<li>attempt to decompile or reverse engineer any software contained on this site;</li>
         	<li>remove any copyright or other proprietary notations from the materials; or</li>
         	<li>transfer the materials to another person or "mirror" them on any other server.</li>
        </ul>
     	<li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by this site owner at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</li>
    </ul>
    <hr />
    <h3>3. Disclaimer</h3>
    <p>The resources on this site are provided "as is". The creator makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, this site owner does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
    <hr />
    <h3>4. Limitations</h3>
    <p>In no event shall this site owner be liable for any damages--including, without limitation, damages for loss of data or profit, or due to business interruption--arising out of the use or inability to use the materials on this website, even if this site owner has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <hr />
    <h3>5. Revisions and Errata</h3>
    <p>The materials appearing on this website could include technical, typographical, or photographic errors. this site owner does not warrant that any of the materials on its website are accurate, complete, or current. The site admin may make changes to the materials contained on its website at any time without notice. this site owner does not, however, make any commitment to update the materials.</p>
    <hr />
    <h3>6. Site Terms of Use Modifications</h3>
    <p>The site administrator may revise these terms of use for its website <span style="text-decoration: underline;">at any time</span> without notice. By using this website you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
</fieldset>