@model ChangePasswordVM

@{
    ViewData["Title"] = "Change Password";
}

<h3 class="bg-dark text-white m-2 p-2"> @ViewData["Title"] </h3>
<form method="post">
    <table class="centered table-sm bg-transparent">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <thead>
            <tr>
                <td colspan="2">
                    <div asp-validation-summary="All"> </div>
                </td>
            </tr>
            </thead>
        }
        <tr>
            <th>
                Current Password:
            </th>
            <td>
                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Input current Password" required/>
            </td>
        </tr>
        <tr>
            <th>
                New Password:
            </th>
            <td>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="Input New Password" required/>
            </td>
        </tr>
        <tr>
            <th>
                Confirm Password:
            </th>
            <td>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm New Password" required/>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2">
                <input class="btn btn-primary ml-1 mr-1" type="submit" value="Submit!"/>
                <a class="btn btn-secondary ml-1 mr-1" asp-controller="User" asp-action="Profile">
                    Cancel
                </a>
            </td>
        </tr>
    </table>
</form>