@model MSSA.Canvas_Your_Goals.Models.User

@{
    ViewData["Title"] = "Forgot Password";
}

<body>
    <h3 class="bg-primary text-white m-2 p-2">
        @ViewData["Title"]
    </h3>
    <div asp-validation-summary="All"></div>
    <form asp-controller="User" asp-action="ForgotPassword" method="post">
        <table class="centered table-sm bg-transparent">
            <tr>
                <th asp-for="Email">
                    Email:
                </th>
                <td>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Input your email" />
                </td>
            </tr>
            <tr>
                <th asp-for="SecurityAnswer">
                    Security Answer:
                </th>
                <td>
                    <input asp-for="SecurityAnswer" type="text" class="form-control" placeholder="Unique Answer..." />
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit" class="btn-3d blue">
                        Send Reset Request!
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>