@model ForgotPasswordVM

@{
    ViewData["Title"] = "Forgot Password";
}

<h3 class="bg-dark text-white m-2 p-2"> @ViewData["Title"] </h3>
<form method="post">
    <table class="centered table-sm bg-transparent">
        @if (ViewData.ModelState.ErrorCount > 0)
        {
            <thead>
            <tr>
                <td colspan="2">
                    <div asp-validation-summary="All"> </div>
                </td>
            </tr>
            </thead>
        }
        <tr>
            <th>
                Email:
            </th>
            <td>
                <input asp-for="Email" type="email" class="form-control" placeholder="Input your email" required/>
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2">
                <input class="btn btn-primary ml-1 mr-1" type="submit" value="Send Reset Request!"/>
            </td>
        </tr>
    </table>
</form>