@model User

@{
    ViewData["Title"] = $"User Profile: {@Model.Email}";
}

<h3 class="bg-dark text-white m-2 p-2"> @ViewData["Title"] </h3>
<table class="centered table-bordered table-striped table-sm">
    <tr>
        <th> Email: </th>
        <td> @Model.Email </td>
    </tr>
    <tr>
        <th> Password: </th>
        <td> *********************** </td>
    </tr>
    <tr>
        <th> Security Hint: </th>
        <td> @Model.SecurityHint </td>
    </tr>
    <tr>
        <th> Security Answer: </th>
        <td> *********************** </td>
    </tr>
    <tr>
        <td class="text-center" colspan="2">
            <a class="btn btn-info ml-1 mr-1" asp-controller="User" asp-action="Index">
                Home
            </a>
            <a class="btn btn-warning ml-1 mr-1" asp-controller="User" asp-action="Edit">
                Edit
            </a>
            <a class="btn btn-dark ml-1 mr-1" asp-controller="User" asp-action="ChangePassword">
                Change Password
            </a>
            <a class="btn btn-danger ml-1 mr-1" asp-controller="User" asp-action="Delete">
                Delete Account?!
            </a>
        </td>
    </tr>
</table>