@model RegisterVM

@{
    ViewData["Title"] = "Register";
}

<h3 class="bg-dark text-white m-2 p-2"> @ViewData["Title"] </h3>
<div asp-validation-summary="All"></div>
<form method="post">
    <table class="centered table-sm bg-transparent">
        <tr>
            <th asp-for="Email">
                Email:
            </th>
            <td>
                <input asp-for="Email" type="email" class="form-control" placeholder="Input your Email" required />
            </td>
        </tr>
        <tr>
            <th asp-for="Password">
                Password:
            </th>
            <td>
                <input asp-for="Password" type="password" class="form-control" placeholder="Input Password" required />
            </td>
        </tr>
        <tr>
            <th asp-for="ConfirmPassword">
                Confirm Password:
            </th>
            <td>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm..." required />
            </td>
        </tr>
        <tr>
            <th asp-for="SecurityHint">
                Security Hint:
            </th>
            <td>
                <input asp-for="SecurityHint" type="text" class="form-control" placeholder="Unique Question..." required />
            </td>
        </tr>
        <tr>
            <th asp-for="SecurityAnswer">
                Security Answer:
            </th>
            <td>
                <input asp-for="SecurityAnswer" type="text" class="form-control" placeholder="Unique Answer..." required />
            </td>
        </tr>
        <tr>
            <td class="text-center" colspan="2">
                <input class="btn btn-primary ml-1 mr-1" type="submit" value="Register!" />
            </td>
        </tr>
    </table>
</form>