@model MSSA.Canvas_Your_Goals.Models.User

@{
    ViewData["Title"] = "Register";
}

<body>
    <h3 class="bg-primary text-white m-2 p-2">
        @ViewData["Title"]
    </h3>
    <div asp-validation-summary="All"></div>
    <form asp-controller="User" asp-action="Register" method="post">
        <table class="centered table-sm bg-transparent">
            <!--
            <tr>
                <th asp-for="Username">
                    Username:
                </th>
                <td>
                    <input asp-for="Username" type="text" class="form-control" placeholder="Input a Unique Username" />
                </td>
            </tr>
            -->
            <tr>
                <th asp-for="Email">
                    Email:
                </th>
                <td>
                    <input asp-for="Email" type="email" class="form-control" placeholder="Input your Email" />
                </td>
            </tr>
            <tr>
                <th asp-for="Password">
                    Password:
                </th>
                <td>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Input Password" />
                </td>
            </tr>
            <tr>
                <th asp-for="ConfirmPassword">
                    Confirm Password:
                </th>
                <td>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm..." />
                </td>
            </tr>
            <tr>
                <th asp-for="SecurityHint">
                    Security Hint:
                </th>
                <td>
                    <input asp-for="SecurityHint" type="text" class="form-control" placeholder="Unique Question..." />
                </td>
            </tr>
            <tr>
                <th asp-for="SecurityAnswer">
                    Security Answer:
                </th>
                <td>
                    <input asp-for="SecurityAnswer" type="text" class="form-control" placeholder="Unique Answer..." />
                </td>
            </tr>
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit" class="btn-3d blue">
                        Register!
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>