@model User

@{
    ViewData["Title"] = "Reset Password";
}

<body>
    <header> <partial name="LoggedOutNav" /> </header>
    <h3 class="bg-primary text-white m-2 p-2"> @ViewData["Title"] </h3>
    <div asp-validation-summary="All"></div>
    <form asp-controller="User" asp-action="ResetPassword" method="post">
        <table class="centered table-sm bg-transparent">
            <tr>
                <th asp-for="Password">
                    New Password:
                </th>
                <td>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Input Password" />
                </td>
            </tr>
            @*
            <tr>
                <th asp-for="ConfirmPassword">
                    Confirm Password:
                </th>
                <td>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm..." />
                </td>
            </tr>
            *@
            <tr>
                <td class="text-center" colspan="2">
                    <button type="submit" class="btn-3d blue">
                        Reset!
                    </button>
                </td>
            </tr>
        </table>
    </form>
</body>