<header>
    <div class="main border-top border-bottom">
        <span>
            <h1 class="title"> Canvas Your Goals </h1> 
            <br /> 
            <h3 class="title"> "Forward the Foundation" - Hari Seldon </h3>
            <br />
        </span>
        <span class="flexit">
            <a href="https://github.com/jedington">
                <img class="github" src="https://cdn.discordapp.com/attachments/363603833680560139/817577980582297600/best.png" alt="">
            </a>
            <ul class="menu btn-group m-1">
                <li class="nav-item btn btn-outline-light">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item btn btn-outline-light">
                    <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </li>
                <li class="nav-item btn btn-outline-light">
                    <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
                </li>
                <li class="nav-item btn btn-outline-light">
                    <a asp-area="" asp-controller="User" asp-action="ForgotPassword">Forgot Password</a>
                </li>
            </ul>
        </span>
        <span class="theme">
            <em> Pick a Theme </em> <br>
            <span class="theme flexit">
                <button class="btn-3d purple" value="dark">dark</button>
                <button class="btn-3d blue" value="calm">calm</button>
                <button class="btn-3d yellow" value="light">light</button>
            </span>
        </span>
    </div>
</header>